absl-py
aniso8601
asgiref
astor
astunparse
cachetools
certifi
chardet
colorama
Cython
Flask
Flask-RESTful
flatbuffers
Frozen-Flask
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
itsdangerous
Jinja2 
Keras
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
numpy
oauthlib
olefile
opencv-python
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
pyreadline
pytz
PyYAML
requests
requests-oauthlib
rsa
scipy 
six 
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
typing-extensions
urllib3
Werkzeug
wincertstore
wrapt
zipp
